<!DOCTYPE html>
<html>
<body>
	<form id="brand-form" action="/addstatisticq" method="get">
		<p>
			Entity: <select name="m_entity">
								<option value="orders">orders</option>
								<option value="accounts">accounts</option>
								<option value="stores">stores</option>
								<option value="brands">brands</option>
								<option value="products">products</option>
						</select></p>
		<p>
			Function: <select name="m_func">
								<option value="count">count</option>
						 	</select></p>
	<input type="submit" name="Apply">
</body>
</html>