<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/static/cart.css">
    <link rel="stylesheet" type="text/css" href="/static/forms.css">

    <link rel="stylesheet" type="text/css" href="/static/style1.css">
    </style>
  
</head>

<body>
  
    <header>


        <div id="nav-belt"></div>
        <div class="nav-left">
            <div id="nav-logo">
                <a href="#" class="nav-logo-link"></a>
            </div>
        </div>
        <div class="nav-right">

        </div>

        </div>

        <nav id="nav-main">
            <div class="nav-left">
                <div class="nav-shop">
                    <a class="nav-a" href="/allstores">
                        Stores
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <a class="nav-a" href="/pendingstores">
                        Pending
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <a class="nav-a" href="/addproduct">
                        Add Product
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <a class="nav-a" href="/addstatistic">
                        Add Statistic
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <a class="nav-a" href="/addbrand">
                        Add Brand
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <a class="nav-a" href="/addstore">
                        Add Store
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
   
              
            
            <div class="nav-right">


                <div class="nav-a">
                    <div class="header_right"></div>
                    <div class="log_reg_button">
                        <a href="/signup" class="button">signup /</a>
                        <a href="/logout" class="button">logout </a>
                    </div>

                </div>

                <div class="nav-a">
                    <div class="cart_btn">
                        <a href="/viewcart">
                            <div class="icon-cart" style="clear: right; float: right">
                                <div class="cart-line-1" style="background-color: #2CC3B5"></div>
                                <div class="cart-line-2" style="background-color: #2CC3B5"></div>
                                <div class="cart-line-3" style="background-color: #2CC3B5"></div>
                                <div class="cart-wheel" style="background-color: #2CC3B5"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            </div>
            <div class="nav-fill">
                <ul>
                   
                    <li><a href="#">Help</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="main">
        <div class="thinbar"></div>

        <div class="topbar">
           
            </div>

        </div>
        <section id="products">
            <div class="containers">
                <div class="row">
                    <div class="col-lg-12">
                      <div class="col-lg-3">
                        <div class="col text-center" id="welcome">
            <p><h3>Welcome to MyShop</h3></p>
        </div>
    </div>
                </div>   </div>
            </div>
            </section>

    
      


    </div>

    <footer>
       
    
        <div class="middle">
          <div class="center">
            <ul>
              <li><h3>Get to Know Us</h3></li>
              <li><a href="#">Team</a></li>
              <li><a href="#">About MyShop</a></li>
              <li><a href="#">Investor Relations</a></li>
              <li><a href="#">MyShop Products</a></li>
            </ul>
            <ul>
              <li><h3>Make Money with Us</h3></li>
              <li><a href="#">Sell on MyShop</a></li>
              
              
             <li><a href="#">Advertise Your Products</a></li>
              <li><a href="#">Become an MyShop StoreOwner</a></li>
             
            </ul>
            <ul>
              <li><h3>MyShop Payment Products</h3></li>
            
              <li><a href="#">Credit Card Marketplace</a></li>
              <li><a href="#">Reload Your Balance</a></li>
             
            </ul>
            <ul>
              <li><h3>Let Us Help You</h3></li>
              <li><a href="#">Your Account</a></li>
              <li><a href="#">Your Orders</a></li>
              <li><a href="#">Shipping Rates &amp; Policies</a></li>
              <li><a href="#">MyShop Prime</a></li>
             <li><a href="#">MyShop Assistant</a></li>
              <li><a href="#">Help</a></li>
            </ul>
          </div>
    
          <ul class="copy text-center">
            
            <li><a href="#" class="select"><i class="fa fa-globe" aria-hidden="true"></i> English</a></li>
            <li><a href="#" class="select"></i>United States</a></li>
          </ul>
        </div>
    
        <div class="bottom">
          <div class="center">
            <ul>
              <li><a href="#">MyShop Music<br/><span>Stream millions<br> of songs</span></a></li>
              <li><a href="#">MyShop Web Services<br/><span>Scalable Cloud<br> Computing Services</span></a></li>
              <li><a href="#">Prime Now<br/><span>FREE 2-Hour Delivery<br> on Everyday Items</span></a></li>
            </ul>
    
            <ul>
                <li><a href="#">MyShop Music<br/><span>Stream millions<br> of songs</span></a></li>
                <li><a href="#">MyShop Web Services<br/><span>Scalable Cloud<br> Computing Services</span></a></li>
                <li><a href="#">Prime Now<br/><span>FREE 2-Hour Delivery<br> on Everyday Items</span></a></li>
              </ul>
              <ul>
                <li><a href="#">MyShop Music<br/><span>Stream millions<br> of songs</span></a></li>
                <li><a href="#">MyShop Web Services<br/><span>Scalable Cloud<br> Computing Services</span></a></li>
                <li><a href="#">Prime Now<br/><span>FREE 2-Hour Delivery<br> on Everyday Items</span></a></li>
              </ul>
              <ul>
                <li><a href="#">MyShop Music<br/><span>Stream millions<br> of songs</span></a></li>
                <li><a href="#">MyShop Web Services<br/><span>Scalable Cloud<br> Computing Services</span></a></li>
                <li><a href="#">Prime Now<br/><span>FREE 2-Hour Delivery<br> on Everyday Items</span></a></li>
              </ul>
              <ul>
                <li><a href="#">MyShop Music<br/><span>Stream millions<br> of songs</span></a></li>
                <li><a href="#">MyShop Web Services<br/><span>Scalable Cloud<br> Computing Services</span></a></li>
                <li><a href="#">Prime Now<br/><span>FREE 2-Hour Delivery<br> on Everyday Items</span></a></li>
              </ul>
      
            <ul class="copy text-center">
              <li><a href="#">Conditions of Use</a></li>
              <li><a href="#">Privacy Notice</a></li>
              <li><a href="#">Interest-Based Ads</a></li>
              <li>&copy; 2019-2020, MyShop.com, Inc. or its affiliates</li>
            </ul>
          </div>
        </div>
      </footer>

</body>