<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<style type="text/css">

        a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: blue;
    background-color: initial;
    }
	</style>
</head>
<body>

<button> <a href="/signup" class="button">signup </a> </button><br>
<button><a href="/logout" class="button">logout </a> </button><br>
<button><a href="/addproduct" class="button">add product </a> </button><br>
<button><a href="/addbrand" class="button">add brand </a></button><br>
</body>